<div class="container">
  <h1 class="gray title">Registration</h1>
  <div class="row">
    <div class="col-md-6">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-dynamic-question [question]="question" [form]="form"></app-dynamic-question>
    </div>

    <div class="form-row">
        <button type="submit" class="btn orange-bg"
                [disabled]="!form.valid">save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
    </div>
  </div>
</div>
