<mat-card class="registration-card">
<div class="container">
  <h1>Scanner Portal</h1>
  <div class="row">
      <canvas id="canvas" height="480" width="640"></canvas>
    <div id="output">
        <div id="outputData">
        </div>
    </div>
    <p><strong>First Name:</strong> {{user?.firstName}}</p>
    <p><strong>Last Name:</strong>  {{user?.lastName}}</p>
    <p><strong>Shirt Size:</strong>  {{user?.shirtSize}}</p>
    <p><strong>Checked In:</strong>  {{user?.checkedIn}}</p>
  </div>
</div>
</mat-card>
