<mat-card class="login-card">
  <div class="container">
    <h2>Sign Up Form</h2>
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>
              </div>
              <p class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter email.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" formControlName="pass">
                </mat-form-field>
              </div>
              <p class="help-block" *ngIf="!signupForm.get('pass').valid && signupForm.get('pass').touched">Please enter password.</p>
            </div>
          </div>
          <div class="row pull-right">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary"
                      [disabled]="!signupForm.valid">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-md-12">
      <div class="row pull-right">
      <span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
          <button mat-button routerLink="/sign-in">Sign-in</button> |
      </span>
        <span routerLinkActive="active" >
          <button mat-button routerLink="/forgot-password">Forgot password</button>
      </span>
      </div>
    </div>
  </div>
</mat-card>
