<div class="container">
    <div class="col-md-12">
        <h3>Registration Page</h3>

        <form ng-submit="formSubmit()" class="form">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span class="text-danger">{{ error }}</span>
                </div>
                <a ui-sref="login" class="nav-link">Already have an account? Login!</a>
            </div>
        </form>
    </div>
</div>