.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.input-label {
  font-weight: bold;
}

.radio-spacer {
  margin-top: 5px;
  margin-bottom: 7px;
}
