<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input class="form-control" *ngSwitchCase="'textbox' || 'autocomplete'" [formControlName]="question.key"
           [id]="question.key" [type]="question.type">

    <div *ngSwitchCase="'radio'">
    <div class="radio" *ngFor="let opt of question.options">
      <label><input type="radio" [formControlName]="question.key" [name]="question.key" [value]="opt.key">{{opt.value}}</label>
    </div>
    </div>

    <div *ngSwitchCase="'checkbox'">
    <label class="checkbox" *ngFor="let opt of question.options">
      <input type="checkbox" [formControlName]="question.key" [name]="question.name" [value]="opt.key">{{opt.value}}
    </label>
    </div>


  </div>
  <p class="help-block" *ngIf="!form.get(question.key).valid && form.get(question.key).touched">Please enter {{question.label}}.</p>
</div>
