<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">

    <mat-form-field *ngSwitchCase="'textbox'">
      <input matInput [placeholder]="question.label" [formControlName]="question.key"
             [id]="question.key" [type]="question.type" [required]="question.required">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'autocomplete'">
    <input matInput [placeholder]="question.label"
           [matAutocomplete]="auto" [formControlName]="question.key"
           [id]="question.key" [type]="question.type" [required]="question.required">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of auto_options | async" [value]="option">
        <span>{{ option }}</span>
      </mat-option>
    </mat-autocomplete>
    </mat-form-field>

    <div *ngSwitchCase="'radio'">
      <label [attr.for]="question.key">{{question.label}}</label>
      <div>
      <mat-radio-group  class="radio-group" [formControlName]="question.key" [required]="question.required">
        <mat-radio-button class="radio-button" *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div *ngSwitchCase="'checkbox'">
      <label [attr.for]="question.key">{{question.label}}</label>
      <label class="checkbox" *ngFor="let opt of question.options">
      <input type="checkbox" [formControlName]="question.key" [name]="question.name" [value]="opt.key">{{opt.value}}
    </label>
    </div>


  </div>
  <p class="help-block" *ngIf="!form.get(question.key).valid && form.get(question.key).touched">Please enter {{question.label}}.</p>
</div>
