<div>
<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <a href="/"><span><img class="nav-image" alt="Brand" src="/assets/img/logo-trimmed.png" layout-fill></span></a>
    <!--<span>Pulse 2018 Event Portal</span>-->

    <span class="example-spacer"></span>

    <!-- <button *ngIf="checkUserLoggedIn()" mat-button routerLink="/home">Register</button> -->
    <button *ngIf="checkUserLoggedIn()" mat-button routerLink="/qr">QR</button>
    <button *ngIf="checkUserLoggedIn()" mat-button routerLink="/home">General</button>
    <button *ngIf="checkUserLoggedIn()" mat-button routerLink="/workshops">Workshops</button>
    <button *ngIf="checkUserLoggedIn()" mat-button (click)='onLogout()' type="button">Logout</button>
    <button *ngIf="!checkUserLoggedIn()" mat-button routerLink="/sign-in">My Account</button>
    <button *ngIf="!checkUserLoggedIn()" mat-button routerLink="/sign-up">Sign up</button>
    <button *ngIf="!checkUserLoggedIn()" mat-button routerLink="/forgot-password">Forgot password</button>
  </mat-toolbar-row>
</mat-toolbar>
  <router-outlet></router-outlet>
</div>
