<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="index.html"><img alt="Brand" src="/assets/img/logo-trimmed.png"/></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav logo-font">
        <li *ngIf="checkUserLoggedIn()">
            <div class="vertical-center-wrapper"><a href="#" routerLink="/home">home</a></div>
        </li>
        <li *ngIf="checkUserLoggedIn()">
            <div class="vertical-center-wrapper">
                <a href="#" (click)="onLogout()">logout</a>
            </div>
        </li>
        <li *ngIf="!checkUserLoggedIn()">
            <div class="vertical-center-wrapper"><a href="#" routerLink="/sign-in">sign in</a></div>
        </li>
        <li *ngIf="!checkUserLoggedIn()">
            <div class="vertical-center-wrapper"><a href="#" routerLink="/sign-up">sign up</a></div>
        </li>
        <li *ngIf="!checkUserLoggedIn()">
            <div class="vertical-center-wrapper"><a href="#" routerLink="/forgot-password">forgot password</a></div>
        </li>
    </ul>
  </div>
</nav>
<!-- 
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div> -->
<router-outlet id="content"></router-outlet>