<div class="container">
  <h1 class="gray title">Forgot Password</h1>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="form-group">
              <input type="email" formControlName="email"  class="form-control" placeholder="Email">
            </div>
            <p class="help-block" *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">Please enter email.</p>
            <button type="submit" class="btn orange-bg"
                    [disabled]="!forgotPasswordForm.valid">reset password</button>
      </form>
    </div>
  </div>
</div>
