<div class="container">
  <h1>Forgot Password</h1>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="email" formControlName="email"  class="form-control" placeholder="Email">
            </div>
            <p class="help-block" *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">Please enter email.</p>
          </div>
        </div>
        <div class="row pull-right">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary"
                    [disabled]="!forgotPasswordForm.valid">Reset password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
