<mat-card class="login-card">
  <div class="container">
    <h2>Forgot Password</h2>
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>
              </div>
              <p class="help-block" *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">Please enter email.</p>
            </div>
          </div>
          <div class="row pull-right">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary"
                      [disabled]="!forgotPasswordForm.valid">Reset password</button>
            </div>
          </div>
          <p class="help-block" *ngIf="isInvalid()">{{getError()}}</p>
        </form>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-md-12">
      <div class="row pull-right">
      <span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
          <button mat-button routerLink="/sign-in">Sign-in</button> |
      </span>
        <span routerLinkActive="active">
            <button mat-button routerLink="/sign-up">Sign-up</button>
      </span>
      </div>
    </div>
  </div>
</mat-card>
