/* You can add global styles to this file, and also import other style files */

@import './styles/custom-material';

//@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.login-card {
  width: 400px;
  text-align: left;
}

input.ng-invalid.ng-touched{
 // border: 1px solid red;
}
p.help-block{
  color: red;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
